Source: js8py
Maintainer: Jakob Ketterl <jakob.ketterl@gmx.de>
Section: hamradio
Priority: optional
Standards-Version: 4.2.0
Build-Depends: debhelper (>= 11), dh-python, python3-all (>= 3.5), python3-setuptools
Vcs-Browser: https://github.com/jketterl/js8py
Vcs-Git: https://github.com/jketterl/js8py.git

Package: python3-js8py
Architecture: all
Depends: python3 (>= 3.5), python3-pkg-resources, ${python3:Depends}, ${misc:Depends}
Description: JS8 frame parser
 python module for parsing messages from the "js8" command line decoder